.toggle {
    position: absolute;
    top: 5%;  /* Adjust this as needed */
    left: 2%; /* Adjust this as needed */
    z-index: 1000; /* High z-index to ensure it stays on top */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    padding: 10px;
    border-radius: 8px; /* Rounded corners */
    border: 2px solid #007BFF; /* Solid border with a color that stands out */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Subtle shadow for better visibility */
}

.container {
    position: relative; /* Ensure positioning context for absolute elements */
    display: flex;
    flex-direction: column; /* Changed from row to column for stacking */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.map-container {
    height: 100%;
    width: 100%;
    z-index: 0;
    box-shadow: 6px 6px 16px #00000060;
    border-radius: 3vh;
    overflow: hidden;
}

